html, body{
    margin: 0;
    height: 100%;
}

#div_root {
    height: 100%;
}

.container{
    height: 100%;
    padding: 0 150px 0 150px;
    background-color: rgba(248, 235, 97, 0.661);
}

.content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    background-color: rgb(157, 210, 240);
}

.navbar{
    padding: 10px;
    margin: 10px;
    background-color: antiquewhite;
    grid-column: 1 / 4;
}