html, body{
    margin: 0;
    height: 100%;
}

#div_root {
    height: 100%;
}

.container{
    height: 100%;
    padding: 0 150px 0 150px;
    background-color: #080808;
}

.content{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, 1fr);
    background-color: #F2F2F2;
}

.navbar{
    grid-column: 2 / 5;
    margin: 10px;
    border: 3px solid #080808;
    border-radius: 25px;
    font-size: 64px;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}