html, body{
    margin: 0;
    height: 100%;
}

#div_root {
    height: 100%;
}

.container{
    height: 100%;
    padding: 0 150px 0 150px;
    background-color: #044040;
}

.content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    background-color: rgb(157, 210, 240);
}

.navbar{
    padding: 10px;
    margin: 10px;
    background-color: rgb(83, 137, 244);
    grid-column: 1 / 4;
    font-size: 64px;
    text-align: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}